<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Sistema de Eventos ALUX</title>
    <%=javascript_include_tag "jquery-1.8.2.min.js"%>
    <%=javascript_include_tag "funciones.js"%>
    <%=javascript_include_tag "eventos.js"%>
    <%= stylesheet_link_tag "login/sie.css"%>
</head>

<body>
  <div id="IdContenedor">
    <div id="IdLogin">
      <%=yield%>
    </div>
  </div>
</body>
</html>