<h1>Registro de Invitados</h1>

<% form_for(@invitado) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :folio %><br />
    <%= f.text_field :folio %>
  </p>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>

  <p>
    <%= f.label :cargo %><br />
    <%= f.text_field :cargo %>
  </p>

  <p>
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </p>
  <p>
    <%= f.label :direccion %><br />
    <%= f.text_field :direccion %>
  </p>
  <p>
    <%= f.label :zona_id %><br />
    <%= f.select(:zona_id, Zona.all.map{|zona|[zona.descripcion, zona.id]}, :prompt => "Seleccione una opción") %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', invitados_path %>