<p>
  <b>Folio:</b>
  <%=h @invitado.folio %>
</p>


<p>
  <b>Nombre:</b>
  <%=h @invitado.nombre %>
</p>


<p>
  <b>Cargo:</b>
  <%=h @invitado.cargo %>
</p>


<p>
  <b>Telefono:</b>
  <%=h @invitado.telefono %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @invitado.direccion %>
</p>

<p>
  <b>Zona:</b>
  <%=h @invitado.zona_id %>
</p>


<%if @bitacora.size > 0%>
<p>Histórico</p>


<table>
  <tr>
    <th>Estado</th>
    <th>Fecha/hora</th>
  </tr>

  <%@bitacora.each do |bitacora|%>
  <tr>
    <td><%=h bitacora.estado.descripcion%></td>
    <td><%=h bitacora.updated_at.strftime("%Y-%m-%d %H:%M:%S")%></td>
  </tr>
 <%end%>
</table>

<%end%>




<%= link_to 'Edit', edit_invitado_path(@invitado) %> |
<%= link_to 'Back', invitados_path %>